services:
    # Entities Managers
    asf_product.product.manager:
        class: ASF\ProductBundle\Utils\Manager\ProductManager
        tags:
            - { name: asf_core.manager, entity: "%asf_product.product.entity%" }
            
    asf_product.category.manager:
        class: ASF\ProductBundle\Utils\Manager\CategoryManager
        arguments: ["@asf_product.product.manager"]
        tags:
            - { name: asf_core.manager, entity: "%asf_product.category.entity%" }
         
    # Entities Forms   
    asf_product.form.factory.product:
        class: ASF\ProductBundle\Form\Factory\FormFactory
        arguments: ["@form.factory", "%asf_product.product.form.name%", "%asf_product.product.form.type%"]
        
    asf_product.form.type.product:
        class: ASF\ProductBundle\Form\Type\ProductType
        arguments: ["%asf_product.product.entity%", "%asf_product.enable_brand_entity%"]
        tags:
            - { name: form.type, alias: product_type }
            
    asf_product.form.factory.category:
        class: ASF\ProductBundle\Form\Factory\FormFactory
        arguments: ["@form.factory", "%asf_product.category.form.name%", "%asf_product.category.form.type%"]
        
    asf_product.form.type.category:
        class: ASF\ProductBundle\Form\Type\CategoryType
        arguments: ["%asf_product.category.entity%"]
        tags:
            - { name: form.type, alias: category_type }
           
    # Search Forms 
    asf_product.form.type.search_product:
        class: ASF\ProductBundle\Form\Type\SearchProductType
        arguments: ["@asf_product.product.manager"]
        tags:
            - { name: form.type, alias: search_product }
            
    asf_product.form.type.search_category:
        class: ASF\ProductBundle\Form\Type\SearchCategoryType
        arguments: ["@asf_product.category.manager"]
        tags:
            - { name: form.type, alias: search_product_category }
       
    # Constraints Validators     
    asf_product.validator.productclass:
        class: ASF\ProductBundle\Validator\Constraints\ProductClassValidator
        arguments: ["@doctrine.orm.default_entity_manager", "%asf_product.product.entity%", "%asf_product.enable_brand_entity%"]
        tags:
            - { name: validator.constraint_validator, alias: ProductClass }
    
    asf_product.validator.unique.check_categoryclass:
        class: ASF\ProductBundle\Validator\Constraints\CategoryClassValidator
        arguments: ["@doctrine.orm.default_entity_manager", "%asf_product.category.entity%"]
        tags:
            - { name: validator.constraint_validator, alias: CategoryClass }
            