{% extends 'ASFProductBundle::layout.html.twig' %}

{% block title %}{{ product.getName() }}{% endblock %}

{% block asf_product_content %}

    <div class="container-fluid">
    	<div class="row">
    	    {{ form(form) }}
    	</div>
    </div>

{% endblock %}