{% extends "ASFProductBundle::layout.html.twig" %}

{% block asf_product_body %}

	{% block asf_product_heading %}
	<div class="jumbotron">
		<h1>{% block heading_title %}Product Manager Documentation{% endblock %}</h1>
		<p class="lead">{% block heading_lead %}Welcome in the user manual for Product Manager.{% endblock %}</p>
	</div>
	{% endblock %}
	
	{% block asf_product_content %}
	<div class="row marketing">
		Todo
	</div>
	{% endblock %}
	
{% endblock %}